[submodule "onlyoffice-sdk/sdkjs"]
	path = onlyoffice-sdk/sdkjs
	url = https://github.com/yschdxm/onlyoffice-sdk-sdkjs-for-docfusion.git
[submodule "onlyoffice-sdk/server"]
	path = onlyoffice-sdk/server
	url = https://github.com/yschdxm/onlyoffice-sdk-server-for-docfusion.git
[submodule "onlyoffice-sdk/web-apps"]
	path = onlyoffice-sdk/web-apps
	url = https://github.com/yschdxm/onlyoffice-sdk-web-apps-for-docfusion.git
