[submodule "onlyoffice-sdk/sdkjs"]
	path = onlyoffice-sdk/sdkjs
	url = https://github.com/ONLYOFFICE/sdkjs.git
[submodule "onlyoffice-sdk/server"]
	path = onlyoffice-sdk/server
	url = https://github.com/ONLYOFFICE/server.git
[submodule "onlyoffice-sdk/web-apps"]
	path = onlyoffice-sdk/web-apps
	url = https://github.com/ONLYOFFICE/web-apps.git
